<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App is No Longer Here</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"
        integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        body {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            height: 100vh;
        }

        #lottie {
            width: 50%;
            height: 50vh;
        }
    </style>

    {% if redirect and new_location %}
    <meta http-equiv="refresh" content="5;url={{ new_location }}">
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "{{ new_location }}";
        }, 5000);
        setTimeout(function () {
            let counter = 5;
            setInterval(() => {
                counter--;
                document.getElementById('counter').innerText = `Redirecting in ${counter} seconds...`;
            }, 1000);
        }, 1000);
    </script>
    {% endif %}
</head>

<body>
    <div id="lottie"></div>
    <h1>{{ message|safe }}</h1>
    <p id="counter"></p>

    <script>
        lottie.loadAnimation({
            container: document.getElementById('lottie'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: `{{ url_for('static', filename='animation.json') }}`
        });
    </script>
</body>

</html>
